body {
    color: var(--tg-theme-bg-color);
    background: #101424;
}

#main {
    text-align: center;
}

/* Стили для заголовка */
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #ffffff;
}

/* Стили для параграфа */
p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

/* Стили для формы */
#formContainer {
    display: none;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Стили для инпутов */
input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Стили для кнопки */
button {
    width: 200px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Стили при наведении на кнопку */
button:hover {
    background-color: #0056b3;
}

#error {
    color: #ffffff; /* Белый цвет */
}
